@import "../abstracs/variables";

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  font-family: $primary-font-family;
}
.container {
  margin: 0 3.6rem 0 3.6rem;
}
h2.headers {
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  line-height: 3.5rem;

}
